@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: -100;
}

header{
    background-color: #2154CF;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.8% 8%;

    .header-icons, .header-items{
        display: flex;
    }

    .header-items{
        justify-content:center;

        .header-item{
            font-size: 16px;
            margin: 0 30px;
            &:first-child{
                margin-left:0;
            }
            i{
                margin-right: 12px;
            }
        }
    }
    .header-icons{
        justify-content:center;
        .social-icons{
            font-size: 18px;
            margin: 0 10px;
        }
    }

}

nav{
    padding: 1% 8%;
    display: flex;
    justify-content:space-between;
    align-items: center;

    .logo{
        h1{
            font-size: 38px;
            color:#2154CF;
            font-weight: 700;
            letter-spacing: 6px;
        }
    }
    .nav-items{
        display: flex;
        justify-content:space-between;
        list-style-type:none;
        .nav-item{
            margin: 0 24px;
            font-size: 20px;
            font-weight: 600;
            position: relative;
            cursor: pointer;

            &:last-child{
                margin-right: 0;
            }

        }
        .active{
            &:before{
                content: "";
                width: calc(100% + 8px);
                height: 3px;
                background-color: #2154CF;
                position: absolute;
                bottom: -4px;
                left: -4px;
            }
        }
    }
}


.hero{
    height: 85vh;


    .hero-container{
        height: 85vh;
        width: 100vw;
        background-size: cover;
        background-position: center top;
        box-shadow:inset 0 0 0 20000px rgba(0, 0, 0, 0.4);

        .hero-data{
            width: 60%;
            padding: 10% 12%;
            color: white;
            position: relative;

            h4{
                font-size: 34px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 12px
            }
            h1{
                font-size: 56px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            p{
                opacity: 0.8;
            }

            button{
                position: absolute;
                bottom: 2%;

                font-size: 20px;
                text-transform: capitalize;

                padding: 10px 32px;
                background-color: #2154CF;
                color: white;
                border: none;
                border-radius: 4px;
            }
        }
    }

}

.about{
        padding: 7% 17%;

        display: flex;
        justify-content: space-between;
        // align-items: center;

        .data{
            width: 50%;
            // padding: 1% 4%;

            h4{
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: -1px;
                margin-bottom: 22px;

            }

            h1{
                font-size: 34px;
                text-transform: capitalize;
                color: #2154CF;
                margin-bottom: 22px;
            }
            p{
                font-size: 18px;
                font-weight:500;
                opacity: 0.7;
            }
            .buttons{
                display: flex;
                width: 70%;
                align-items: center;
                justify-content:space-between;
                button{
                    margin-top: 22px;
                font-size: 20px;
                text-transform: capitalize;
                padding: 10px 22px;
                background-color: #2154CF;
                color: white;
                border: none;
                border-radius: 4px;
                }
            }
        }

            .image{
            width: 400px;
            height: 400px;
            background-size: cover;
            background-position: center center;
            position: relative;

            &::before{
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid black;
                position: absolute;
                left: 15px;
                bottom: 15px;
                z-index: -1;
            }
            }
    
}

.few-words{
    padding: 7% 17%;
    background-color: #ECF2FF;
    position: relative;
    z-index: -5;

    h4{
        font-size: 20px;
                text-transform: uppercase;
                letter-spacing: -1px;
                color: #2154CF;
                margin-bottom: 22px;

    }
    h1{
        font-size: 34px;
        text-transform: capitalize;
        margin-bottom: calc(22px + 15px);


    }

    .few-words-container{
        display: flex;
        justify-content: space-between;
        position: relative;

        .image{
            width: 450px;
            height: 450px;
            background-size: cover;
            // background-position: center center;
            position: relative;


            &::before{
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid black;
                position: absolute;
                right: 15px;
                bottom: 15px;
                z-index: -1;
            }
            }
            .data{
                width: 50%;

                p{
                    font-size: 18px;
                    font-weight:500;
                    opacity: 0.7;

                    &:first-child{
                        margin-bottom: 22px;
                    }
                }
                button{
                margin-top: 44px;
                font-size: 20px;
                text-transform: capitalize;
                padding: 10px 22px;
                background-color: #2154CF;
                color: white;
                border: none;
                border-radius: 4px;
                }
            }
    }

}

.articles{
    min-height: 100vh;
    padding: 7% 17%;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/world-map.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
        .card{
            background-color: #F3F7FF;
            display: flex;
            flex-direction: column;
            padding: 2% 5% 2% 7%;
            margin: 0 16px;
            width: 50%;
            height: 70vh;
            h4{
                font-size: 20px;
                color: #2154CF;
                text-align: center;
            }
            h1{
                font-size: 34px;
                text-align: center;
            }
            
        }

        .card-articles{
            .card-body{ 
                .article{
                    position: relative;
                    margin: 26px auto;
                    margin-left: 24px;
                    padding-bottom: 32px;
                    &::before{
                        content: "";
                        width: 100%;
                        height: 1.6px;
                        position: absolute;
                        bottom: 0;
                        background-color: #2154CF;
                        opacity: 0.5;
                    }

                    &:last-child::before{
                        content: none;
                    }

                    i{
                        position: absolute;
                        top: 16px;
                        left: -50px;
                        color: #2154CF;
                        font-size: 24px;
                    }
                    h5{
                        font-size: 22px;
                        font-weight: 700;
                    }
                    .article-details{ 
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin-top: 12px ;
                        font-family: 'Roboto Serif', serif;
                        
                        .dp>img{
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            outline: 4px solid #2154CF;
                            object-fit: cover;
                            margin-right: 12px;
                        }
                        .name{
                            color: #2154CF;
                            font-size: 18px;
                            text-transform: capitalize;
                            margin : 0 4px;
                        }
                        .date{
                            font-size: 16px;
                            text-transform: capitalize;
                            margin : 0 4px;
                        }
                        .read-time{
                            font-size: 16px;
                            font-weight: 700;
                            text-transform: capitalize;
                            margin : 0 4px;
                            letter-spacing: -1px;
                            color:#2154CF;

                        }
                    }
                }
               
            }
        }
        
        .card-messages{
            .card-body{ 
                .message{
                    position: relative;
                    margin: 26px auto;
                    margin-left: 24px;
                    padding-bottom: 32px;
                    &::before{
                        content: "";
                        width: 100%;
                        height: 1.6px;
                        position: absolute;
                        bottom: 0;
                        background-color: #2154CF;
                        opacity: 0.5;
                    }

                    &:last-child::before{
                        content: none;
                    }

                    i{
                        position: absolute;
                        top: 16px;
                        left: -50px;
                        color: #2154CF;
                        font-size: 24px;
                    }
                    h5{
                        font-size: 16px;
                        opacity: 0.8;
                    }
                }
            }
        }
    
}

.blog{
    padding: 5% 13%;
    background-color: #ECF2FF;
    position: relative;
    min-height :100vh;

    .sub-heading{
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: -1px;
        color: #2154CF;
        margin-bottom: 22px;
        text-align: center;
    }
    h1{
        font-size: 34px;
        text-transform: capitalize;
        margin-bottom: calc(22px + 15px);
        text-align: center;
    }

    .cards{
        display: flex;
        justify-content: space-between;

        .card{
            background-color: white;
            width: 32%;
            // margin : 0 12px;
            .image{
                width: 100%;
                height: 240px;
                background-size: cover;
                background-position: center center;
            }
            .card-data{ 
                padding: 4% 6% 6%;

                .highlight{
                    display: inline-block;
                    padding: 4px 20px;
                    background-color: green;
                    color: white;
                    border-radius: 6px;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
                h4{
                    color: black;
                    font-size: 14px;
                    font-weight:800;
                    text-transform: capitalize;
                    margin: 12px 0;
                }
                p{
                    color: black;
                    opacity: 0.6;
                    font-size: 12px;
                    font-weight:600;
                    margin: 6px 0 16px;

                }

                .blog-details{
                    padding-top: 16px;
                    font-size: 14px;
                    font-weight:800;
                    color:rgba(0, 0, 0, 0.6);
                    position: relative;

                    .author{
                        color: #2154CF;
                    }

                    &::before{
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color:black;
                        opacity: 0.6;
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }
    }
    button{
        // position: absolute;
        // bottom: 3%;
        // right: 5%;
        display: block;
        margin: 26px 0 0 auto;

        font-size: 20px;
        text-transform: capitalize;

        padding: 10px 32px;
        background-color: #2154CF;
        color: white;
        border: none;
        border-radius: 4px;
    }
}
.owl-prev, .owl-next {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
    color: white !important;
    transition: 0.2s;

    &:hover i{
        transform: scale(1.2);
    }
    i{
        font-size: 40px;
        transition: 0.2s;

    }
}
.owl-prev { left: 20px; }
.owl-next { right: 20px; }
// .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}