<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - DANL</title>
    <!-- fontawesome link -->
    <link href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JS file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="body">
        <!-- Header Phone and other -->
        <header>
            <div class="header-items">
                <div class="header-item">
                    <i class="fas fa-phone-alt"></i> +91 9876543210
                </div>
                <div class="header-item">
                    <i class="fas fa-envelope"></i> support@domain.com
                </div>
                <div class="header-item">
                    <i class="fas fa-clock"></i> Available 24x7
                </div>
            </div>
            <!-- Social Media icons -->
            <div class="header-icons">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </header>

        <!-- Navbar and Logo  -->
        <nav class="blog-nav">
            <div class="logo">
                <h1>DANL</h1>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
                <li class="nav-item"><a href="/services">Services</a></li>
                <li class="nav-item active"><a href="/blog">Blog</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
            </ul>
            <div class="ham-burger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <section class="blog-main">
            <h1 class="blog-title">
                Simple and minimal<br /> blog post ui
            </h1>
            <h5>
                Written by <span>John Paul</span> | Published on
                <span>22 June 2022</span> | <span>5</span> min read
            </h5>

            <div class="blog-main-image" style="background-image: url('/images/Rectangle-98.png')"></div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente in amet consequuntur accusamus voluptas dolorem odit molestias. Tenetur impedit magnam quae facilis eligendi incidunt, culpa debitis sint beatae natus? Sed. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Sapiente in amet consequuntur accusamus voluptas dolorem odit molestias. Tenetur impedit magnam quae facilis eligendi incidunt, culpa debitis sint beatae natus? Sed.
            </p>

            <h2 class="blog-quote">
                <q>Have no fear of perfection, You'll never reach it.</q>
            </h2>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, molestias deserunt eveniet facere possimus commodi necessitatibus libero magni id esse, dignissimos pariatur beatae ab nisi expedita sint, minus reprehenderit eligendi dolorum veritatis
                quam. Quas facilis ipsa, obcaecati ex accusamus numquam, veritatis rem commodi ad reiciendis aperiam dolores explicabo! Sit, tempore.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, molestias deserunt eveniet facere possimus commodi necessitatibus libero magni id esse, dignissimos pariatur beatae ab nisi expedita sint, minus reprehenderit eligendi dolorum veritatis
                quam. Quas facilis ipsa, obcaecati ex accusamus numquam, veritatis rem commodi ad reiciendis aperiam dolores explicabo! Sit, tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, molestias deserunt eveniet facere
                possimus commodi necessitatibus libero magni id esse, dignissimos pariatur beatae ab nisi expedita sint, minus reprehenderit eligendi dolorum veritatis quam. Quas facilis ipsa, obcaecati ex accusamus numquam, veritatis rem commodi ad reiciendis
                aperiam dolores explicabo! Sit, tempore.
            </p>

            <div class="blog-social">
                <h6>Share this article</h6>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook shadow-3"></i
          ></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp shadow-3"></i
          ></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter shadow-3"></i
          ></a>
            </div>
            <hr class="light-hr" />
        </section>

        <section class="lets-talk blog-subscribe">
            <div class="lets-talk-container" style="background-image: url(/images/talk-to-expert-bg.jpg)">
                <div class="data">
                    <h4>
                        Loving our blogs? <br /> Subscribe for more.
                    </h4>
                    <!-- <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur harum numquam aut tempora! Perferendis repellendus corporis itaque porro adipisci? Adipisci.
                </p> -->
                </div>
                <div class="call-for-action">
                    <button class="shadow-4">Subscribe for more</button>
                </div>
            </div>
        </section>

        <section class="blog">
            <h1>More Posts</h1>
            <div class="cards">
                <div class="card shadow-2">
                    <a href="#">
                        <div class="image" style="background-image: url(/images/blog-1.webp)"></div>
                    </a>

                    <div class="card-data">
                        <h4 class="highlight highlight-blue">Hiring</h4>
                        <h4>
                            We're hiring freshers. All you need is to Upload documents and you are done.
                        </h4>
                        <p>
                            The Lorem ipum filling text is used by graphic designers and printers with the aim
                        </p>
                        <div class="blog-details">
                            by
                            <span class="author"> Sergey Makashin</span>
                            <span class="date">2min Read - 2 days ago</span>
                        </div>
                    </div>
                </div>

                <div class="card shadow-2">
                    <a href="#">
                        <div class="image" style="background-image: url(/images/blog-2.webp)"></div>
                    </a>
                    <div class="card-data">
                        <h4 class="highlight highlight-orange">Work</h4>
                        <h4>Work from home, with same hikes as Onine.</h4>
                        <p>
                            The Lorem ipum filling text is used by graphic designers and printers with the aim
                        </p>
                        <div class="blog-details">
                            by<span class="author"> Sergey Makashin</span>
                            <span class="date">2min Read - 2 days ago</span>
                        </div>
                    </div>
                </div>
                <div class="card shadow-2">
                    <a href="#">
                        <div class="image" style="background-image: url(/images/blog-3.webp)"></div>
                    </a>

                    <div class="card-data">
                        <h4 class="highlight highlight-green">Process</h4>
                        <h4>Work on your comfort zone.</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa incidunt error officiis!
                        </p>
                        <div class="blog-details">
                            by <span class="author"> Sergey Makashin</span>
                            <span class="date">2min Read - 2 days ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Request Call back starts here -->
        <section class="request-callBack">
            <h4 class="sub-heading">Want to talk</h4>
            <h1 class="heading">request a call back</h1>

            <div class="newsletter">
                <div class="subscribe shadow-3">
                    <input type="tel" name="" placeholder="+91 - 123 456 7891" id="phone">
                    <button id="callBack" class="shadow-1 button-2"> <i class="fas fa-phone-alt"></i> Call Me</button>
                </div>
            </div>
            <p id="response"></p>
        </section>
        <!-- Request Call back ends here -->

        <!-- Footer strats here -->
        <section class="footer" id="footer">
            <div class="row">
                <!-- Footer logo and paragraph -->
                <div class="column">
                    <div class="card">
                        <h2>LOGO</h2>
                        <h4>About</h4>
                        <p>Lorem ipsum dolor sdsy a sit amet consectetur adipisicing elit. Voluptate nobis nihil numquam velit praesentium ipsa.
                            <br><br> Lorem ipsum dolor sit amet consecteturplicabo ullam adipisci dolorum natus dicta sed debiti
                        </p>
                    </div>
                </div>

                <!-- Internal links -->
                <div class="column">
                    <div class="card">
                        <div class="links">
                            <h4>Internal Links</h4>
                            <ul>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Our Services</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> About Us</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Reach Us</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Join Me</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Company Legal -->
                <div class="column">
                    <div class="card">
                        <div class="links">
                            <h4>Company Legal</h4>
                            <ul>
                                <a href="terms-and-conditions.html">
                                    <li><i class="far fa-dot-circle"></i> Terms & Conditions</li>
                                </a>
                                <a href="privacy-policy.html">
                                    <li><i class="far fa-dot-circle"></i> Privicy Policies</li>
                                </a>
                                <a href="disclamer.html">
                                    <li><i class="far fa-dot-circle"></i> Disclaimers</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Certifications</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <h3 class="footer-quote">Everything you can imagine is real.</h3>
        </section>
        <!-- Copyright section -->
        <section class="copyright">
            <h4>DANL GROUP PVT LTD. <span>Copyright © <script> document.write(new Date().getFullYear()) ; </script> Domain.com  All Rights Reserved.</span></h4>
        </section>
    </div>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- owl carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--  script file -->
    <script src="/js/main.js"></script>
</body>

</html>