<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services - DANL GROUP</title>
    <!-- fontawesome link -->
    <link href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JS File and cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="body">
        <header>
            <div class="header-items">
                <div class="header-item">
                    <i class="fas fa-phone-alt"></i> +91 9876543210
                </div>
                <div class="header-item">
                    <i class="fas fa-envelope"></i> support@domain.com
                </div>
                <div class="header-item">
                    <i class="fas fa-clock"></i> Available 24x7
                </div>
            </div>
            <!-- Social Media icons -->
            <div class="header-icons">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </header>

        <!-- Navbar and Logo  -->
        <nav>
            <div class="logo">
                <h1>DANL</h1>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
                <li class="nav-item active"><a href="/services">Services</a></li>
                <li class="nav-item"><a href="/blog">Blog</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
            </ul>
            <div class="ham-burger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <section class="services-hero" style="background-image: url('/images/Rectangle-73.png')">
            <h4>Explore</h4>
            <h1>Our Services</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione possimus veniam nemo ipsam commodi dicta enim sequi pariatur, reprehenderit nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, ullam.
            </p>
            <button class="shadow-1">get started</button>
        </section>
        <div class="overlap services-overlap shadow-6">
            <!-- ------------------------------NOTE------------------------------------ -->
            <!-- ------------------------------------------------------------------ -->
            <!-- in mobile-view last 2 will be removed to maintain page design -->
            <!-- ------------------------------------------------------------------ -->
            <!-- ------------------------------------------------------------------ -->
            <div class="service">
                <img src="/images/amazon.png" alt="" />
                <h6>Amazon</h6>
            </div>
            <div class="service" oncontextmenu="false">
                <img src="/images/tesla.png" alt="" />
                <h6>Tesla</h6>
            </div>
            <div class="service">
                <img src="/images/microsoft.png" alt="" />
                <h6>Microsoft</h6>
            </div>
            <div class="service">
                <img src="/images/google.png" alt="" />
                <h6>Google</h6>
            </div>
            <div class="service">
                <img src="/images/enally.png" alt="" />
                <h6>Enally</h6>
            </div>
            <div class="service">
                <img src="/images/youtube.png" alt="" />
                <h6>Youtube</h6>
            </div>
        </div>

        <section class="services">
            <div class="data">
                <h1>Day And Night Loan</h1>
                <h4><span>Total Customers </span> 23,490</h4>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentiumvoluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sinti cupiditate non provident, similique sunt in culpa quia deserunt mollitia animi
                </p>
                <div class="button"><button class="shadow-1">Know More</button></div>
            </div>

            <div class="image shadow-4" style="background-image: url(/images/Rectangle77.jpg)"></div>
        </section>
        <section class="services">
            <div class="data">
                <h1>DANL GROUP PVT LTD</h1>
                <h4><span>Total Customers </span> 23,490</h4>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentiumvoluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sinti cupiditate non provident, similique sunt in culpa quia deserunt mollitia animi
                </p>
                <div class="button"><button class="shadow-1">Know More</button></div>
            </div>

            <div class="image shadow-4" style="background-image: url(/images/Rectangle80.jpg)"></div>
        </section>

        <section class="lets-talk">
            <div class="lets-talk-container" style="background-image: url(/images/talk-to-expert-bg.jpg)">
                <div class="data">
                    <h4>
                        Curious about our Service? <br /> Let's talk will our expert.
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur harum numquam aut tempora! Perferendis repellendus corporis itaque porro adipisci? Adipisci.
                    </p>
                </div>
                <div class="call-for-action">
                    <button class="shadow-4">Talk to Expert</button>
                </div>
            </div>
        </section>

        <section class="reviews">
            <h4 class="sub-heading">Customers</h4>
            <h1 class="heading">Reviews</h1>
            <div class="review-container">
                <div class="review shadow-2">
                    <div class="image" style="background-image: url(/images/Ellipse-12.png)"></div>
                    <h4 class="name">John Deo</h4>
                    <h6>
                        Review <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </h6>
                    <hr />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium qui neque autem harum nisi voluptatem facilis amet! In libero, nostrum neque similique dolores sapiente sequi.
                    </p>
                </div>
                <div class="review shadow-2">
                    <div class="image" style="background-image: url(/images/Ellipse-13.png)"></div>
                    <h4 class="name">Franklin J</h4>
                    <h6>
                        Review <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </h6>
                    <hr />

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium qui neque autem harum nisi voluptatem facilis amet! In libero, nostrum neque similique dolores sapiente sequi.
                    </p>
                </div>
                <div class="review shadow-2">
                    <div class="image" style="background-image: url(/images/Ellipse-14.png)"></div>
                    <h4 class="name">Nadi Lindasy</h4>
                    <h6>
                        Review <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </h6>
                    <hr />

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium qui neque autem harum nisi voluptatem facilis amet! In libero, nostrum neque similique dolores sapiente sequi.
                    </p>
                </div>
                <div class="review shadow-2">
                    <div class="image" style="background-image: url(/images/Ellipse-15.png)"></div>
                    <h4 class="name">John Deo</h4>
                    <h6>
                        Review <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </h6>
                    <hr />

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium qui neque autem harum nisi voluptatem facilis amet! In libero, nostrum neque similique dolores sapiente sequi.
                    </p>
                </div>
                <div class="review shadow-2">
                    <div class="image" style="background-image: url(/images/Ellipse-16.png)"></div>
                    <h4 class="name">Franklin J</h4>
                    <h6>
                        Review <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </h6>
                    <hr />

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium qui neque autem harum nisi voluptatem facilis amet! In libero, nostrum neque similique dolores sapiente sequi.
                    </p>
                </div>
                <div class="review shadow-2">
                    <div class="image" style="background-image: url(/images/Ellipse-17.png)"></div>
                    <h4 class="name">Nadi lundasy</h4>
                    <h6>
                        Review <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </h6>
                    <hr />

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium qui neque autem harum nisi voluptatem facilis amet! In libero, nostrum neque similique dolores sapiente sequi.
                    </p>
                </div>
            </div>
        </section>

        <!-- Request Call back starts here -->
        <section class="request-callBack">
            <h4 class="sub-heading">Want to talk</h4>
            <h1 class="heading">request a call back</h1>

            <div class="newsletter">
                <div class="subscribe shadow-3">
                    <input type="tel" name="" placeholder="+91 - 123 456 7891" id="phone">
                    <button id="callBack" class="shadow-1 button-2"> <i class="fas fa-phone-alt"></i> Call Me</button>
                </div>
            </div>
            <p id="response"></p>
        </section>
        <!-- Request Call back ends here -->

        <!-- Footer strats here -->
        <section class="footer" id="footer">
            <div class="row">
                <!-- Footer logo and paragraph -->
                <div class="column">
                    <div class="card">
                        <h2>LOGO</h2>
                        <h4>About</h4>
                        <p>Lorem ipsum dolor sdsy a sit amet consectetur adipisicing elit. Voluptate nobis nihil numquam velit praesentium ipsa.
                            <br><br> Lorem ipsum dolor sit amet consecteturplicabo ullam adipisci dolorum natus dicta sed debiti
                        </p>
                    </div>
                </div>

                <!-- Internal links -->
                <div class="column">
                    <div class="card">
                        <div class="links">
                            <h4>Internal Links</h4>
                            <ul>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Our Services</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> About Us</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Reach Us</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Join Me</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Company Legal -->
                <div class="column">
                    <div class="card">
                        <div class="links">
                            <h4>Company Legal</h4>
                            <ul>
                                <a href="terms-and-conditions.html">
                                    <li><i class="far fa-dot-circle"></i> Terms & Conditions</li>
                                </a>
                                <a href="privacy-policy.html">
                                    <li><i class="far fa-dot-circle"></i> Privicy Policies</li>
                                </a>
                                <a href="disclamer.html">
                                    <li><i class="far fa-dot-circle"></i> Disclaimers</li>
                                </a>
                                <a href="#">
                                    <li><i class="far fa-dot-circle"></i> Certifications</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <h3 class="footer-quote">Everything you can imagine is real.</h3>
        </section>
        <!-- Copyright section -->
        <section class="copyright">
            <h4>DANL GROUP PVT LTD. <span>Copyright © <script> document.write(new Date().getFullYear()) ; </script> Domain.com  All Rights Reserved.</span></h4>
        </section>
    </div>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- owl carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--  script file -->
    <script src="/js/main.js"></script>
</body>

</html>