/*--------

Color, fonts and other variables here

---------*/

// Google and other 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

/*-------- Color Codes ---------*/

$main: #2154CF;
$white: #fff;
$black: #000;
$light-bg: #ECF2FF;
$highlight-blue: #2154CF;
$highlight-orange: #FE8322;
$highlight-green: #3AA206;
$border-light: #7070705b;
$border-light-2: #70707037;
$dullGrey: #929292;
$black-opactity: #000000a0;
$black-opactity-video: #0000008a;
$blue-opactity: #2155cf7b;
$blue-opactity-2: #2155cfba;
$important: #cc0000;
$facebook: #4267B2;
$whatsapp: #075E54;
$twitter: #1DA1F2;
$darkGrey: #515151;

/*-------- Fonts Family ---------*/

$primary: 'Segoe UI';
$body-font: 'Open Sans',
sans-serif;
$article-font: 'Roboto Serif',
serif;
$article-name-font: 'PT Sans Narrow',
sans-serif;

/*--------

Color, fonts and other variables Ends here

---------*/